.produtos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nomeProduto{
  margin: .5rem 0;
}

@media (max-width: 992px){
  .produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px){
  .produtos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}