body{
  margin: 2rem;
}

img{
  max-width: 100%;
  border-radius: .5rem;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 1.4rem;
}

.animarDaEsquerda{
  transform: translateX(-20px);
  opacity: 0;
  animation: animarDaEsquerda .3s forwards;
}

@keyframes animarDaEsquerda {
  to{
    transform: initial;
    opacity: initial;
  }
}